{#
/**
 * @file
 * Default theme implementation to present a page entity.
 *
 * This template is used when viewing a registered page's page,
 * e.g., /wiki)/123. 123 being the page's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_wiki_page()
 */
#}
<article{{ attributes }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</article>
